# PostgreSQL
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret

# RabbitMQ
RABBITMQ_USER=myuser
RABBITMQ_PASSWORD=secret


# Google login
GOOGLE_LOGIN_ENABLED=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mount this directory on persistent private storage in production.
INSTITUTION_DOCUMENT_DIRECTORY=var/private/institution-documents
BRASIL_API_URL=https://brasilapi.com.br/api
