<!DOCTYPE html>
<html class="auth-page" lang="pt-BR" xmlns:th="http://www.thymeleaf.org" th:fragment="page(title, registrationStyles, layoutClass, content)">
    <head th:replace="~{fragments/layout/head :: head(${title}, ~{fragments/auth/page-styles :: styles(${registrationStyles})}, 'auth')}"></head>
    <body>
        <main class="auth-layout" th:classappend="${layoutClass}">
            <aside th:replace="~{fragments/auth/brand-panel :: brandPanel}"></aside>
            <th:block th:replace="${content}"></th:block>
        </main>
    </body>
</html>
